#box1{
  background-color: rgb(20, 20, 20);
  padding-bottom: 100px;

} 

#myface{
    width: 300px;
    border-radius: 20px;
    float: center;
    margin-left: 160px;
  }
#mich{
    margin-top: 100px;
    width: 100px;
    border-radius: 20px;
    float: left;
    margin-left: 300px;
  }
#logo{
    margin-top: 100px;
    width: 100px;
    border-radius: 20px;
    float: right;
    margin-right: 300px;
  }

#Photo{
    text-align: center;
    font-size: small;
    color: antiquewhite;
  }
#Photoname{
    color: rgb(221, 97, 157);
  }

a.prbox{
    border: 3px rgb(246, 181, 96) solid;
    border-radius: 20px;
    width: 350px;
    font-size: 20px;
    padding-left: 140px;
    padding-right: 140px;
    margin-left: 10px;
  }


h1.top{
    color: antiquewhite;
    text-align: center;
  }
p.top{
    color: antiquewhite;
    text-align: center;
  }
a.cont{
    margin-left: 10px;
    border: solid 3px purple;
    background-color: blueviolet;
    border-radius: 100px;
    color: antiquewhite;
    padding-left: 140px;
    padding-right: 140px;
  }

/* Project slide*/
#box2{
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: rgb(25, 25, 25);
}

p.title-p{
  font-size: 50px;
  text-align: center;
  padding-left: 20px;
  color: antiquewhite;
}
p.cont-p{
  padding-left: 20px;
  color: antiquewhite;
  text-align: center;
}
a.proj-box{
    margin-left: 10px;
    border: solid 3px purple;
    background-color: blueviolet;
    border-radius: 100px;
    color: antiquewhite;
    padding-left: 140px;
    padding-bottom: 100px;
    padding-right: 140px;
  }

  #myface1{
    width: 50px;
    border-radius: 10px;
    float: center;
  }