img{
    width: 200px;
    border-radius: 20px;
    float: left;
    margin-right: 10px;
  }

  a.usernames{
    font-weight: bold;

  }

  h1.top{
    text-align: center;
  }
  p.top{
    text-align: center;
  }
